html, body {
    margin: 0;
    padding: 0;
}
h1, h2, p, a {
    font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

a.navmenu-brand {

}

ul.nav.navmenu-nav{
    margin-top: 200px;
    text-align: center;
}
ul.nav.navmenu-nav li {
    font-size: 20px;
}

.btn {
    border-radius: 0;
    border: 0;
    background-color: #4386fc;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 26px;
    text-decoration: none;
}


.vid_section{
    width: 100%;
    height: auto;
    /*position: absolute;*/
    padding:0;
    margin:0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow:hidden;
}
/*@media(){

}*/
.vid_section video{
    width: 100%;
    height: auto;
    min-width: 100%;
}
.navbtn {
    background-color: black;
    border: 0;
}
.navbar-toggle{
    background-color: black;
    border: 0;
}
.section2{
    height: auto;
    display: block;
    background-color: #fff;
}
.section2 .container {

}

.footer {
    border-top: 1px solid #dbdbdb;
    background-color: #f3f3f3;
    padding: 20px 0px 80px;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
}

.footer li {
    color: #999;
    font-weight: 600;
}
.footer h3 {
    color: #555;
}
@media (min-width : 768px) {
    .md-lg-pull-right{
        float: right;
    }
    .md-lg-pull-left{
        float: left;
    }
    .md-lg-center{
        display: table;
        margin: 0 auto;
    }
}
.section2 {
    padding: 50px 0;
}
.section2 ul{
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}
.section2 li {
    font-weight: 500;
    font-size: 15px;
}