        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
            padding: 0;
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        table {
            border-spacing: 0;
        }

        fieldset, img {
            border: 0;
        }

        address, caption, cite, code, dfn, em, strong, th, var {
            font-weight: normal;
            font-style: normal;
        }

        strong {
            font-weight: bold;
        }

        ol, ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        caption, th {
            text-align: left;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            font-size: 100%;
            margin: 0;
            padding: 0;
            color: #444;
        }

        q:before, q:after {
            content: '';
        }

        abbr, acronym {
            border: 0;
        }
        /* Custom CSS
         * --------------------------------------- */

        body {
            font-family: arial, helvetica;
            color: #F2F2F2;
        }

        h1 {
            font-size: 6em;
        }

        p {
            font-size: 2em;
        }

        .content {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }
        /* Section 1
         * --------------------------------------- */

        #section1 {
            background-color: #BFDA00;
        }

        #section1 h1 {
            color: #444;
        }

        #section1 p {
            color: #333;
            opacity: 0.4;
        }
        /* Section 2
         * --------------------------------------- */

        #section2 {
            background-color: #2EBE21;
        }

        #section2 h1 {
            color: #fff;
        }

        #section2 p {
            opacity: 0.8;
        }
        /* Section 3
         * --------------------------------------- */

        #section3 {
            background-color: #f1f1f1!important;
        }

        #section3 h1 {
            color: #F2F2F2;
        }

        #section3 p {
            opacity: 0.6;
        }

        #myVideo {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            width: 100vw;
            height: auto;
            background-size: 100% 100%;
            background-color: black;
            /* in case the video doesn't fit the whole page*/
            background-position: center center;
            background-size: contain;
            object-fit: cover;
            /*cover video background */
            z-index: 3;
        }

        @media (min-width: 768px) {
            .md-lg-pull-right {
                float: right;
            }
            .md-lg-pull-left {
                float: left;
            }
            .md-lg-center {
                display: table;
                margin: 0 auto;
            }
        }

        .navbtn {
            background-color: black;
            border: 0;
        }

        .navbar-toggle {
            background-color: black;
            border: 0;
        }

        ul.nav.navmenu-nav {
            margin-top: 200px;
            text-align: center;
        }

        ul.nav.navmenu-nav li {
            font-size: 20px;
        }
        /*CONTACT SECTION STYLES*/
